footer {
  margin: 1rem 0 0 0;
  background: var(--verde);
  color: var(--blanco);
  padding: 2rem 1rem;
  text-align: center;
  font-family: sans-serif;
}

footer p {
  margin: 0.5rem 0;
}

/* MENU DEL FOOTER */
.footer-menu {
  margin: 1rem 0;
  font-weight: 600;
  justify-content: center;
}

.footer-menu a {
  color: var(--blanco);
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color 0.3s;
}

.footer-menu a:hover {
  color: var(--rojo);
}

.socials a {
  color: var(--blanco);
  text-decoration: none;
  transition: color 0.3s;
}

.socials a:hover {
  color: var(--rojo);
}

.socials i {
  margin-right: 0.4rem;
}
