header {
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9000;
  background: var(--blanco);
}

nav {
  display: flex;
  color: var(--rojo);
}

.navOculto {
  display: none;
}

/* LOGO Y BOTON */
.logo {
  text-decoration: none;
  color: var(--rojo);
  padding: 0 0 0 1rem;
  display: flex;
  align-items: center;
  height: 4rem;
  width: 30%;
  font-size: 1.5rem;
  font-weight: 600;
}

.hamburguesa {
  display: none;
}

/* LISTA PRINCIPAL NAV */
.mainListNav {
  padding: 0 2rem 0 0;
  display: flex;
  justify-content: end;
  gap: 3rem;
  width: 70%;
  font-size: large;
}

.mainListNav li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mainListNav li:hover {
  color: var(--verde);
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.mainListNav a {
  all: unset;
}

/* SUB LISTA NAV */
.dropdown ul {
  padding: 0.5rem 0;
  display: none;
  position: absolute;
  top: 2.8rem;
  background-color: var(--blanco);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown {
  position: relative;
}

.dropdown ul {
  padding: 0.5rem 0;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.5rem;
  background-color: var(--blanco);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.dropdown ul li {
  padding: 0.5rem 1rem;
  color: var(--rojo);
  z-index: 1000;
  white-space: nowrap;
}

.dropdown.open ul {
  display: block;
}

/* DECORACION ITALIA */
.italiaLine {
  display: flex;
  height: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-top: 1px solid var(--gris-9);
  position: relative;
  transition: all 0.7s ease;
}

.italiaLine.expand {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}

.colorItalia1 {
  width: 25%;
  background-color: var(--verde);
}

.colorItalia2 {
  width: 50%;
  background-color: var(--blanco);
}

.colorItalia3 {
  width: 25%;
  background-color: var(--rojo);
}
